<div class="row mt-4">
  <div class="col-12 col-md-6 offset-md-6">
    <div class="d-flex justify-content-between">
      <span class="fw-semibold">Prima Neta</span>
      <span>{{ currency }} {{ net | number:'1.2-2' }}</span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fw-semibold">Impuestos ({{ (taxRate * 100) | number:'1.0-0' }}%)</span>
      <span>{{ currency }} {{ tax | number:'1.2-2' }}</span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fw-bold">Prima Total</span>
      <span class="fw-bold">{{ currency }} {{ total | number:'1.2-2' }}</span>
    </div>
  </div>
</div>
