<form [formGroup]="schoolPersonForm" novalidate autocomplete="off">
  <div class="row g-4 justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card shadow-sm rounded-4 overflow-hidden h-100">
        <div class="card-header bg-white py-3">
          <h3 class="h5 d-flex gap-2 mb-0 align-items-center">
            <span>Cotización Seguro de Accidentes Personales Escolares</span>
          </h3>
        </div>

        <div class="card-body border-0">
          <app-general-data
            [form]="schoolPersonForm"
            [submitted]="submitted"
            [config]="{
              docType: 'rnc',
              showCliente: true,        requireCliente: true,
              showIntermediario: true,  requireIntermediario: true,
              showMoneda: true,         requireMoneda: true,
              showFormaPago: true,      requireFormaPago: true,
              showFecha: true,          requireFecha: true,
              showDocumento: true,      requireDocumento: true,
              showFechaNacimiento: false,
              autoEdad: false
            }"
          />
        </div>

        <div class="card-body border-0">
          <app-coverages-limits
           (coveragesChanged)="onCoveragesChanged()"
            [definitions]="COVERAGES"
            [coveragesFA]="coverages"
            [visibleTierIdxs]="[0,1,2]"
            [showCheckboxes]="false"
            [selectionMode]="'always'"
            [enableEdgeEdit]="true">
          </app-coverages-limits>
        </div>
        <div class="card-body border-0 d-flex justify-content-end">
          <app-premium-schedule
            [columns]="columns"
            [amountsStudent]="amountsStudent"
            [amountsProfessor]="amountsProfessor"
            [rates]="premiumRates">
          </app-premium-schedule>
        </div>
        <div class="row justify-content-end">
          <div class="col-3">
            <button class="btn btn-dark bg-colonial border-0 w-100 my-3 btn-lg rounded-3 justify-content-center" type="submit">
              Enviar
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
